@import '../../themes.css'; 

.Light {
  background: var(--Light-order-background-color);
  border: 2px solid var(--Light-order-border-color);
  color: var(--Light-order-text-color);
}

.Dark {
  background: var(--Dark-order-background-color);
  border: 2px solid var(--Dark-order-border-color);
  color: var(--Dark-order-text-color);
}

.Zen {
  background: var(--Zen-order-background-color);
  border: 2px solid var(--Zen-order-border-color);
  color: var(--Zen-order-text-color);
}

.Comp {
  background: var(--Comp-order-background-color);
  border: 2px solid var(--Comp-order-border-color);
  color: var(--Comp-order-text-color);
}

.container{
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
}
  
.title {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
  font-weight: bold;
  min-width: 45px;
}

@media (max-width: 599px) {
  .container {
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
  }
  .buttonsGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  .large {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .container {
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
  }
  .buttonsGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .large {
    display: none;
  }
}

@media (min-width: 1000px) {
  .container {
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
  }
  .buttonsGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .small {
    display: none;
  }
}

.container button {
  margin: 3px;
  min-width: 50px;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  font-weight: 600;
  min-height: 26px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  will-change: transform;
}

.button {
  background-color: transparent;
  color: #222222;
}

.buttonSelected {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}