.globesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: sticky;
  margin-top: -100vh;
  width: 100%
}

.globe {
  margin-top: 50px  ;
  display: flex;
  border: 3px solid black;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.75) 100%);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  color: white;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
  color: #FFFFFF;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 12px;
  bottom: 30px;
  margin-top: 50vh;
  position: sticky;
}

.footerText {
  font-size: 1.4em;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  background-color: darkgoldenrod;
  border: 1px solid black;
  text-align: center;
}

.text {
  font-size: 2em;
}

.ampersand {
  font-size: 4em;
  margin: -10px;
}

.globe button {
  font-size: 2.2em;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color:rgb(58, 100, 58);
  color: white;
  border: 2px solid white;
  
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  color: #FFFFFF;

}

.globe button:hover{
  background-color:rgb(80, 147, 80);
  transform: translateY(-2px);
}

.landingBackground {
  background: url('../../assets/background-landingpage.jpg') center;
  height: 100vh;
  animation-name: animatedBackground;
  animation-timing-function: cubic-bezier(.41,.01,.62,.97);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media (max-width: 349px) {
  .landingBackground{
    animation-duration: 130s;
  }
}

@media (min-width: 350px) and (max-width: 899px){
  .landingBackground{
    animation-duration: 110s;
  }
}

@media (min-width: 900px) {
  .landingBackground{
    animation-duration: 90s;
  }
}


@keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }
  14% {
    background-position: 75% 100%;
  }
  29% {
    background-position: 85% 10%;
  }
  43% {
    background-position: 5% 90%;
  }
  57% {
    background-position: 15% 5%;
  }
  72% {
    background-position: 95% 60%;
  }
  86% {
    background-position: 30% 85%;
  }
  to {
    background-position: 60% 100%;
  }
}
