@import '../../themes.css'; 

.spinnerLoading {
  width: 120px;
  height: 120px;
  animation: spinner 3s linear infinite;
  align-items: center;
  justify-content: center;
  display: grid;
  margin: auto;
}

.spinnerContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.text {
  font-size: 2em;
  font-style: italic;
  padding: 20px;
  border-radius: 10px;
}

.text.Light {
  color: var(--Light-detail-text-color);
  background: var(--Light-detail-background-color);
  border: 1px solid var(--Light-detail-shadow1-color);
}

.text.Dark {
  color: var(--Dark-detail-text-color);
  background: var(--Dark-detail-background-color);
  border: 1px solid var(--Dark-detail-shadow1-color);
}

.text.Zen {
  color: var(--Zen-detail-text-color);
  background: var(--Zen-detail-background-color);
  border: 1px solid var(--Zen-detail-shadow1-color);
}

.text.Comp {
  color: var(--Comp-detail-text-color);
  background: var(--Comp-detail-background-color);
  border: 1px solid var(--Comp-detail-shadow1-color);
}

.spinnerLoading.Dark {
  filter: invert();
}

.spinnerLoading.Comp {
  filter: sepia();
}

@keyframes spinner {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}