@import '../../themes.css'; 

.Light {
  background: var(--Light-background-color);
}

.Dark {
  background: var(--Dark-background-color)
}

.Zen {
  background: var(--Zen-background-color)
}

.Comp {
  background: var(--Comp-background-color)
}

.container {
  padding: 5px;
  display: flex;
  height: 100%;
}

.container button {
  margin-left: 4px;
  height: 30px;
}

.container input {
  height: 24px;
}

.logo {
  height: 64px;
}

.centerContainer {
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exitContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 599px) {
  .logoContainer {
    display: none;
  }
  .exitContainer {
    width: 160px;
    
  }
}

@media (min-width: 600px) {
  .logoContainer {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .exitContainer {
    width: 260px;
    
  }
}