@media (max-width: 499px) {
  .logoContainer {
    display: none;
  }
}

@media (min-width: 500px) {
  .logoContainer {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container {
  background: rgba(0, 0, 0, 0.25);
  padding: 4px;
  display: flex;
}

.container button {
  margin-left: 4px;
  height: 30px;
}

.container input {
  height: 24px;
}

.logo {
  height: 64px;
}


.center {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.subcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.exit {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}