@import '../../themes.css'; 

.Light {
  background: var(--Light-country-background-color);
  border: 2px solid var(--Light-country-border-color);
  color: var(--Light-country-text-color);
}

.Dark {
  background: var(--Dark-country-background-color);
  border: 2px solid var(--Dark-country-border-color);
  color: var(--Dark-country-text-color);
}

.Zen {
  background: var(--Zen-country-background-color);
  border: 2px solid var(--Zen-country-border-color);
  color: var(--Zen-country-text-color);
}

.Comp {
  background: var(--Comp-country-background-color);
  border: 2px solid var(--Comp-country-border-color);
  color: var(--Comp-country-text-color);
}

.container {
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family:  Arial, Helvetica, sans-serif;
  max-width: 210px;
  margin-bottom: 8px;
  max-height: 280px;
}

.flag {
  width: 100%;
  margin-bottom: 5px;
  border: 0;
}

.flag:hover {
  transition: 0.5s;
  filter: grayscale(50%) opacity(100%);
}

.flag.Light {
  box-shadow: var(--Light-flag-shadow-color) 0 8px 15px;
}

.flag.Dark {
  box-shadow: var(--Dark-flag-shadow-color) 0 8px 15px;
} 

.flag.Zen {
  box-shadow: var(--Zen-flag-shadow-color) 0 8px 15px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) opacity(70%);
}

.flag:hover.Zen {
  box-shadow: var(--Zen-flag-shadow-color) 0 8px 15px;
  filter: grayscale(0%) opacity(100%);
}

.flag.Comp {
  box-shadow: var(--Comp-flag-shadow-color) 0 8px 15px;
}

.title {
  font-size: 1.25em;
  margin: 3px;
  margin-top: auto;

}

.subTitle {
  font-size: 1em;
  margin: 3px;
  margin-top: auto;

}

.infoSection {
  align-items: center;
  margin-top: auto;
}